<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Globomantics App - PluralSight - Asp.Net Core 3</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>

        <environment exclude="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img asp-append-version="true" alt="Logo" src="~/img/logo.png" />
                </div>
                <div class="col-md-10 titlecol">
                    <h2 class="title">@ViewBag.Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
        
    </body>
</html>